<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('新增科研课题')" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-sciResSubject-add">
			<input name="modMajorId" type="hidden" id="treeId"/>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*</span>课题名称：</label>
				<div class="col-sm-8">
					<input id="subjectName" name="subjectName" class="form-control" required type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*</span>课题级别：</label>
				<div class="col-sm-8">
					<select  name="subjectLevel" id="subjectLevel" class="form-control m-b" th:with="type=${@dict.getType('sys_res_topic_level')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*</span>主持人：</label>
				<div class="col-sm-8">
					<input id="moderator" name="moderator" class="form-control" required type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*</span>主持人专业：</label>
				<div class="col-sm-8">
					<!--<input id="modMajorId" name="modMajorId" class="form-control" type="text">-->
                    <div class="input-group">
                        <input name="modMajorId"  id="treeName" type="text" placeholder="请选择专业" class="form-control authorMajor" required>
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    </div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*</span>主持人参与人：</label>
				<div class="col-sm-8">
					<input id="modParticipant" name="modParticipant" class="form-control" required type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*</span>第一单位：</label>
				<div class="col-sm-8">
					<input id="firstUnit" name="firstUnit" class="form-control" required type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">合作单位：</label>
				<div class="col-sm-8">
					<input id="cooperUnit" name="cooperUnit" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*</span>立项时间：</label>
				<div class="col-sm-8">
					<input id="projectDate" name="projectDate" class="form-control time-input" required type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*</span>资助金额(万元)：</label>
				<div class="col-sm-8">
					<input id="grants" name="grants" class="form-control" required type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*</span>到账金额(万元)：</label>
				<div class="col-sm-8">
					<input id="arrivalAmount" name="arrivalAmount" class="form-control" required type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*</span>结题时间：</label>
				<div class="col-sm-8">
					<input id="concludingDate" name="concludingDate" class="form-control time-input" required type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*</span>项目来源：</label>
				<div class="col-sm-8">
					<input id="projectSource" name="projectSource" class="form-control" required type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*</span>是否结题：</label>
				<div class="col-sm-8">
					<select name="isFinished" id="isFinished" class="form-control m-b" th:with="type=${@dict.getType('sys_subject_is_finished')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label"><span style="color: red;">*</span>是否按期结题：</label>
				<div class="col-sm-8">
					<select name="isFinishedOnTime" id="isFinishedOnTime" class="form-control m-b" th:with="type=${@dict.getType('sys_subject_is_finished_on_time')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<!--<div class="form-group">	-->
				<!--<label class="col-sm-3 control-label"><span style="color: red;">*</span>附件：</label>-->
				<!--<div class="col-sm-8">-->
					<!--<input id="attachFile" name="attachFile" class="form-control" type="text">-->
				<!--</div>-->
			<!--</div>-->
            <div class="form-group">
                <label class="col-sm-3 control-label"><span style="color: red;">*</span>附件：</label>
                <div class="col-sm-8">
                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row">
                            <div id="message"><label id="attachFile-error" class="error" for="attachFile"></label></div>
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div class="form-group">
                                        <label class="font-noraml">多文件上传</label>
                                        <div class="file-loading">
                                            <input id="attachFile"  name="attachFile" type="file" class="form-control error" multiple  required aria-required="true">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">备注：</label>
				<div class="col-sm-8">
					<input id="notes" name="notes" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <th:block th:include="include :: bootstrap-fileinput-js" />
    <script type="text/javascript">
		var prefix = ctx + "system/sciResSubject"
		$("#form-sciResSubject-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			},
			focusCleanup: true
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            // $.operate.save(prefix + "/add", $('#form-sciResSubject-add').serialize());
                uploadFile();
	        }
	    }
        //上传文件
        function uploadFile() {
            var formData = new FormData();
            if ($('#attachFile')[0].files[0] == null) {
                $.modal.alertWarning("请先选择文件路径");
                return false;
            }

            formData.append('subjectName', $("#subjectName").val());
            formData.append('subjectLevel', $("#subjectLevel").val());
            formData.append('moderator', $("#moderator").val());
            formData.append('modMajorId', $("#treeId").val());
            formData.append('modParticipant', $("#modParticipant").val());
            formData.append('firstUnit', $("#firstUnit").val());
            formData.append('cooperUnit', $("#cooperUnit").val());
            formData.append('projectDate', $("#projectDate").val());
            formData.append('grants', $("#grants").val());
            formData.append('arrivalAmount', $("#arrivalAmount").val());
            formData.append('concludingDate', $("#concludingDate").val());
            formData.append('projectSource', $("#projectSource").val());
            formData.append('isFinished', $("#isFinished").val());
            formData.append('isFinishedOnTime', $("#isFinishedOnTime").val());
            formData.append('file', $('#attachFile')[0].files[0]);
            formData.append('notes', $("#notes").val());
            $.ajax({
                url: prefix + "/add",
                type: 'post',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                success: function(result) {
                    $.operate.successCallback(result);
                }
            });
        }
        var currentTreeName = "";
        $(".authorMajor").click(function () {
            currentTreeName = $(this).attr("id");
            var treeId = $("#treeId").val();
            var modMajorId = $.common.isEmpty(treeId) ? "100" : $("#treeId").val();
            var url = ctx + "system/dept/selectDeptTree/" + modMajorId;
            var options = {
                title: '选择专业',
                width: "380",
                url: url,
                callBack: doSubmit
            };
            $.modal.openOptions(options);
        });
        function doSubmit(index, layero){
            var tree = layero.find("iframe")[0].contentWindow.$._tree;
            if ($.tree.notAllowParents(tree)) {
                var body = layer.getChildFrame('body', index);
                $("#treeId").val(body.find('#treeId').val());
                $("#treeName").val(body.find('#treeName').val());
                // $("#"+currentTreeName).val(body.find('#treeName').val());
                layer.close(index);
            }
        }

        $(document).ready(function () {
            $("#attachFile").fileinput({
                'theme': 'explorer-fas',
                'uploadUrl': '#',
                overwriteInitial: false,
                initialPreviewAsData: true,
                /*
				initialPreview: [
                    "/img/profile.jpg"
                ]
                */
            });
        });
	</script>
</body>
</html>
