<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head>
	<th:block th:include="include :: header('修改教师奖励')" />
	<th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m">
			<div class="form-group">	
				<label class="col-sm-3 control-label">奖励名称：</label>
				<div class="col-sm-8">
					<input id="awardName" name="awardName" th:value="${award.awardName}" class="form-control" readonly type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">第一完成人编号：</label>
				<div class="col-sm-8">
					<input id="firstWinner" name="firstWinner" th:value="${award.firstWinner}" class="form-control" readonly type="text">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">第一完成人专业：</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input id="1" type="text" name="firstWinnerMajor" th:value="${dept1.deptName}" class="form-control" readonly >
						<span class="input-group-addon"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">第二完成人：</label>
				<div class="col-sm-8">
					<input id="secondWinner" name="secondWinner" th:value="${award.secondWinner}" class="form-control" readonly type="text">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">第二完成人专业：</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input id="2" type="text" name="secondWinnerMajor"  th:value="${dept2.deptName}" class="form-control" readonly >
						<span class="input-group-addon"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">第三获奖人：</label>
				<div class="col-sm-8">
					<input id="thirdWinner" name="thirdWinner" th:value="${award.thirdWinner}" class="form-control" readonly type="text">
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">第三完成人专业：</label>
				<div class="col-sm-8">
					<div class="input-group">
						<input id="3" type="text" name="thirdWinnerMajor" th:value="${dept2.deptName}" class="form-control" readonly>
						<span class="input-group-addon"><i class="fa fa-search"></i></span>
					</div>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">第一单位：</label>
				<div class="col-sm-8">
					<input id="firstDept" name="firstDept" th:value="${award.firstDept}" class="form-control" readonly type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">合作单位：</label>
				<div class="col-sm-8">
					<input id="workWithDept" name="workWithDept" th:value="${award.workWithDept}" class="form-control" readonly type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">奖励级别：</label>
				<div class="col-sm-8">
					<select name="awardLeval" readonly id="awardLeval" class="form-control m-b" th:with="type=${@dict.getType('sys_award_leval')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">奖励来源：</label>
				<div class="col-sm-8">
					<input id="awardFrom" name="awardFrom" th:value="${award.awardFrom}" class="form-control" readonly type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">奖励等级：</label>
				<div class="col-sm-8">
					<select name="awardNumber" readonly id="awardNumber" class="form-control m-b" th:with="type=${@dict.getType('sys_award_number')}">
						<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">奖励时间：</label>
				<div class="col-sm-8">
					<input id="awardDate" readonly th:value="${#dates.format(award.awardDate,'yyyy-MM-dd')}" name="awardDate" class="form-control" type="text">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-3 control-label">文件预览：</label>
				<div class="col-sm-8">
					<a class="btn btn-link btn-sm" shiro:hasPermission="system:award:award" th:onclick="'showFile(\'' + ${award.awardId} + '\');'"><i class="fa fa-file-pdf-o"></i>	预览文件</a>
				</div>
			</div>

		</form>
    </div>
    <div th:include="include::footer"></div>

	<script th:inline="javascript" type="text/javascript">
 
		function showFile(awardId) {
			var url = "/system/award/getAttachFile?awardId=";
			$.operate.pdfPreview(url+awardId);
		}

	</script>
</body>
</html>
