<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>数据中心</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
    <style>
        .chartPanelHeader{
            padding:0px 30px;
        }
        .chartPanelTitle{
            font-size:16px;
        }
        .chart{
            width: 100%;
            height: 400px;
        }
    </style>
</head>

<body class="gray-bg">
    <div class="row  border-bottom white-bg dashboard-header">
        <div class="col-lg-12">

            <!--<h1 class="text-muted">Lorem ipsum dolor</h1>-->
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        多类型管理
                    </div>
                    <div class="panel-body">
                        <p>该系统包含多种文件的操作，范围涵盖所有科研文档。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        pdf多操作
                    </div>
                    <div class="panel-body">
                        <p>pdf的预览，单、多文件下载，合并下载，拆分下载。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-info-circle"></i> 文件命名
                    </div>
                    <div class="panel-body">
                        <p>下载命名动态配置，更方便用户对下载文档的审阅和管理。</p>
                    </div>

                </div>
            </div>
            <!--<hr>-->
        </div>
        <div class="col-sm-7">
            <h2>文档管理</h2>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;泛微内容引擎平台为用户提供了丰富的应用功能，
                包含文档多级管理、知识地图展现、移动文档管理等，全面支持企业知识积累、分享、
                利用和创新的全过程内容管理与控制。泛微内容引擎平台为用户提供了丰富的应用功能，
                包含文档多级管理、知识地图展现、移动文档管理等，全面支持企业知识积累、分享、
                利用和创新的全过程内容管理与控制。泛微内容引擎平台为用户提供了丰富的应用功能，
                包含文档多级管理、知识地图展现、移动文档管理等，全面支持企业知识积累、分享、
                利用和创新的全过程内容管理与控制。泛微内容引擎平台为用户提供了丰富的应用功能，
                包含文档多级管理、知识地图展现、移动文档管理等，全面支持企业知识积累、分享、
                利用和创新的全过程内容管理与控制。<br>
            &nbsp;&nbsp;&nbsp;&nbsp;泛微内容引擎平台为用户提供了丰富的应用功能，
            包含文档多级管理、知识地图展现、移动文档管理等，全面支持企业知识积累、分享、
            利用和创新的全过程内容管理与控制。泛微内容引擎平台为用户提供了丰富的应用功能，
            包含文档多级管理、知识地图展现、移动文档管理等，全面支持企业知识积累、分享、
            利用和创新的全过程内容管理与控制。泛微内容引擎平台为用户提供了丰富的应用功能，
            包含文档多级管理、知识地图展现。</p>
        </div>
        <div class="col-sm-5">
            <!--<h2>Lorem ipsum dolor：</h2>-->
            <div class="row">
                <div id="pieChartPanelHeader" class="col-lg-12 chartPanelHeader">
                    <span class="chartPanelTitle"><i class="fa fa-pie-chart"></i>&nbsp;各学科资源占比</span>
                </div>
                <hr>
            </div>
            <div class="col-lg-12 chartPanelBody">
                <div id="pieChart" style="width: 100%;height: 250px;">

                </div>
            </div>
        </div>
    </div>
	<div class="row border-bottom white-bg dashboard-header" style="margin-top: 20px">
        <div class="row">
            <div id="barChartPanelHeader" class="col-lg-12 chartPanelHeader">
                <span class="chartPanelTitle"><i class="fa fa-bar-chart"></i>&nbsp;各学科资源数量统计</span>
            </div>
            <hr>
        </div>
        <div class="col-lg-12 chartPanelBody">
            <div class="row">
                <div id="barChart" class="chart">

                </div>
            </div>
        </div>
    </div>

    <div class="row border-bottom white-bg dashboard-header" style="margin-top: 20px">
        <div class="row">
            <div id="lineChartPanelHeader" class="col-lg-12 chartPanelHeader">
                <span class="chartPanelTitle"><i class="fa fa-line-chart"></i>&nbsp;资源数量趋势</span>
                <!--时间范围选择-->
                <div style="float:right;">
                    <input type="text" id = "spyOnAdviceNumber" class="form-control-sm" style="max-width: 200px;max-height: 22px" placeholder="" aria-describedby="sizing-addon3">
                    <button class="btn btn-xs btn-primary " type="button" > <i class="fa fa-search-plus"></i>搜索</button>
                </div>
            </div>

            <hr>
        </div>
        <div class="row">
            <div class="col-md-12 chartPanelBody">
                <div id="lineChart" class="chart">

                </div>
            </div>
        </div>

    </div>
    <th:block th:include="include :: new_echarts_js" />
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var data = [[${attrNameMap}]]
        var dataKeyArray = Object.getOwnPropertyNames(data);

        $(function () {
            var chartDataset = Object.entries(data);
            initBarChart(chartDataset);
            initPieChart();
            initLineChart();
        });

        /**
         *
         */
        function initBarChart(chartDataset) {
            chartDataset.unshift(["文档类型","文档数量"]);
            var barChart = echarts.init(document.getElementById('barChart'));
            var option = {
                dataset: {
                    source:chartDataset
                    //     [
                    //     ["文档类型","文档数量"],
                    //     ["论文信息",4],
                    //     ["出版物信息",2],
                    //     ["教师奖励信息",3]
                    // ]

                },
                grid: {containLabel: true},
                xAxis: {name: '文档数量'},
                yAxis: {type: 'category'},
                visualMap: {
                    orient: 'horizontal',
                    left: 'center',
                    min: 1,
                    max: 5,
                    text: ['High Score', 'Low Score'],
                    // Map the score column to color
                    dimension: 1,
                    inRange: {
                        color: ['#D7DA8B', '#E15457']
                    }
                },
                series: [
                    {
                        type: 'bar',
                        encode: {
                            // Map the "amount" column to X axis.
                            x: '文档数量',
                            // Map the "product" column to Y axis
                            y: '文档类型'
                        }
                    }
                ]
            };
            barChart.setOption(option);
        }
        /**
         *
         */
        function initPieChart() {
            var pieChart = echarts.init(document.getElementById('pieChart'));
            var docType = Object.getOwnPropertyNames(data);

            var objArray = new Array();
            for (let i = 0; i < docType.length; i++) {
                objArray.push({value:data[docType[i]], name:docType[i]})
            }

            option = {
                title : {
                    text: '全站学科资源占比',
                    subtext: '更新时间 2019年11月15日',
                    x:'center'
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    left: 'left',
                    data: docType
                },
                series : [
                    {
                        name: '文档类型',
                        type: 'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                        data:objArray,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };

            pieChart.setOption(option);
        }
        /**
         *
         */
        function initLineChart() {
            var lineChart = echarts.init(document.getElementById('lineChart'));
            option = {
                xAxis: {
                    type: 'category',
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                },
                yAxis: {
                    type: 'value'
                },
                dataZoom: [
                    {
                        type: 'slider', // 这个 dataZoom 组件是 slider 型 dataZoom 组件
                        start: 1,      // 左边在 10% 的位置。
                        end: 100         // 右边在 60% 的位置。
                    }
                ],
                series: [{
                    data: [820, 932, 901, 934, 1290, 1330, 1320],
                    type: 'line'
                }]
            };
            lineChart.setOption(option);
        }
    </script>
</body>
</html>
