<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('教材/出版物列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								类别：<input type="text" name="pbKind"/>
							</li>

							<li>
								题目：<input type="text" name="pbTitle"/>
							</li>
							<li>
								第一作者姓名：<input type="text" name="author1Name"/>
							</li>
							<li>
								期刊名字：<input type="text" name="publisherName"/>
							</li>

							<li>
								刊号：<input type="text" name="publishNumber"/>
							</li>

							<li>
								出版时间：<input type="text" name="publishDate"/>
							</li>

							<li>
								ISSN编号：<input type="text" name="issnNumber"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
	        <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:publication:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:publication:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:publication:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:publication:export">
						<i class="fa fa-table"></i> 导出excel
				 </a>
				<a class="btn btn-primary" onclick="$.table.exportExcel()" shiro:hasPermission="system:publication:export">
						<i class="fa fa-download"></i> 批量下载附件
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
	 <script th:inline="javascript">
		 var editFlag = [[${@permission.hasPermi('system:publication:edit')}]];
		 var removeFlag = [[${@permission.hasPermi('system:publication:remove')}]];
		 var prefix = ctx + "system/publication";

		 $(function() {
			 var options = {
				 url: prefix + "/list",
				 createUrl: prefix + "/add",
				 updateUrl: prefix + "/edit/{id}",
				 removeUrl: prefix + "/remove",
				 exportUrl: prefix + "/export",
				 modalName: "教材/出版物",
				 showExport: true,
				 columns: [{
					 checkbox: true
				 },
					 {
						 field : 'pbId',
						 title : '教材Id',
						 visible: false
					 },
					 {
						 field : 'pbKind',
						 title : '类别',
						 sortable: true
					 },
					 {
						 field : 'pbTitle',
						 title : '题目',
						 sortable: true
					 },
					 {
						 field : 'author1Id',
						 title : '第一作者编号',
						 sortable: true
						 ,visible: false
					 },
					 {
						 field : 'author1Name',
						 title : '第一作者姓名',
						 sortable: true
					 },
					 {
						 field : 'author1MajorId',
						 title : '所在专业',
						 sortable: true
					 },
					 {
						 field : 'author2Id',
						 title : '第二作者编号',
						 sortable: true
						 ,visible: false
					 },
					 {
						 field : 'author2Name',
						 title : '第二作者姓名',
						 sortable: true
						 ,visible: false
					 },
					 {
						 field : 'author2MajorId',
						 title : '第二作者所在专业',
						 sortable: true
						 ,visible: false
					 },
					 {
						 field : 'authorNameOther',
						 title : '其他作者名字',
						 sortable: true
						 ,visible: false
					 },
					 {
						 field : 'publisherName',
						 title : '期刊名',
						 sortable: true
					 },
					 {
						 field : 'publishNumber',
						 title : '刊号',
						 sortable: true
						 ,visible: false
					 },
					 {
						 field : 'publisherLevel',
						 title : '出版社级别',
						 sortable: true
					 },
					 {
						 field : 'publishDate',
						 title : '时间',
						 sortable: true
					 },
					 {
						 field : 'issnNumber',
						 title : 'ISSN',
						 sortable: true
						 ,visible: false
					 },
					 {
						 field : 'notes',
						 title : '备注',
						 sortable: true
					 },
					 {
						 field : 'attachFile',
						 title : '附件',
						 formatter: function(value, row, index) {
							 var actions = [];
							 // actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick=" "><i class="fa fa-eye"></i>预览</a> ');
							 actions.push('<a class="btn btn-success btn-xs" onclick="openPdfViewerModel()"><i class="fa fa-file-pdf-o"></i> 预览</a> ');
							 actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick=""><i class="fa fa-download"></i> 下载</a> ');
							 return actions.join('');
						 }
					 },
					 {
						 title: '操作',
						 align: 'center',
						 formatter: function(value, row, index) {
							 var actions = [];
							 actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.pbId + '\')"><i class="fa fa-edit"></i> 编辑</a> ');
							 actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.pbId + '\')"><i class="fa fa-remove"></i> 删除</a>');
							 return actions.join('');
						 }
					 }]
			 };
			 $.table.init(options);
		 });
		 function openPdfViewerModel() {
			 $.modal.open("PDF文件预览", prefix + "/pdfViewer",800,600);
		 }
	 </script>
</body>
</html>